<!-- Navigation -->
<nav>
  <div class="nav-wrapper layout-margin" style='background-color: #26a69a'>
    <a ui-sref="base.default" href="/">
      <span class="gen-title" style="font-size: 18px">Metabolic pathways visualizer</span>
    </a>
    <br>
  </div>
</nav>
<div>
  <p></p><br>
</div>

<!-- Content -->
<div class="container-fluid">
  <div class="row">

    <!-- map content -->
    <div class="col-md-9">
      <mymap-component></mymap-component>
    </div>

    <!-- analyse list -->
    <div class="col-md-3">
      <analyse-list></analyse-list>
    </div>

  </div>
</div>